{% extends "layout.html" %}

{% block content %}
<div class="container">
    <div id="loading" style="display: none;">
      <div id="loading-text"></div>
      <div class="loading-circle"></div>
    </div>
    <div class="row">
        <div class="sidebar col-md-2">
            <button class="sidebar-toggle" id="sidebar-toggle"><svg height="800px" viewbox="0 0 24 24" width="800px">
            <path d="M13.75 22.987l-7.99-9c-.51-.57-.76-1.28-.76-1.99s.25-1.42.74-1.98c.01 0 .01-.01.01-.01l.02-.02 7.98-8.98c1.1-1.24 3.002-1.35 4.242-.25 1.24 1.1 1.35 3 .25 4.23l-6.23 7.01 6.23 7.01c1.1 1.24.99 3.13-.25 4.24-1.24 1.1-3.13.98-4.24-.26z" fill="#ffffff"></path></svg></button>
            <div class="accordion" id="source-accordion">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="cointelegraph-heading"><button aria-controls="cointelegraph-collapse" aria-expanded="true" class="accordion-button" data-bs-target="#cointelegraph-collapse" data-bs-toggle="collapse" type="button">Cointelegraph</button></h2>
                    <div aria-labelledby="cointelegraph-heading" class="accordion-collapse collapse show" data-bs-parent="#source-accordion" id="cointelegraph-collapse">
                        <ul class="list-group" id="cointelegraph-article-list"></ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-10 col-12">
            <div class="row">
              <div class="mobile-tabs tabs-container">
                <button class="tab-button active" data-target="english">Original</button>
                <button class="tab-button" data-target="japanese">Edit</button>
              </div>
              <div class="tabs-container-translation">
                <button class="tab-button active" data-target="Japanese">JP</button>
                <button class="tab-button" data-target="Chinese">CN</button>
                <!-- <button class="tab-button" data-target="Indonesian">ID</button> -->
                <button class="tab-button" data-target="Korean">KR</button>
              </div>
              <div class="col-md-6 col-12 original scroll-container tab" id="english">
                <a id="original-link" class="btn btn-primary" target="_blank">LINK</a>
                <!-- State when an article is selected -->
                <!-- <div id="article-actions" style="display:none;">
                  <button class="btn btn-primary" id="publish-button">Publish</button>
                  <button class="btn btn-primary" id="unpublish-button">Unpublish</button>
                  <button class="btn btn-primary" id="save-draft-button">Save Draft</button>
                </div>

                <!-- State when no article is selected -->
                <!-- <div id="no-article-message">
                  <p>Please select an article.</p>
                </div> -->

                <h3 id="original-title" class=""></h3>
                <div id="original-html"></div>
              </div>
              <div class="col-md-6 col-12 scroll-container tab" id="japanese">
                <textarea id="translation-editor" class="scroll-container"></textarea>
              </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
